* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    text-align: center;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

nav ul {
    border: 2px solid black;
}

form {
    text-align: center;
    border: 2px solid cornflowerblue;
    padding: 10px;
}

form input {
    margin-bottom: 10px;
}

#response {
    margin-top: 10px;
    border: 2px solid black;
    display: none;
}